{% extends 'base.html' %}

{% block user %}
{% if user.is_authenticated and not user.is_anonymous %}
<div style="text-align:center;">
    <p><b>Hi, {{ user.get_full_name|default:user.username }}!</b></p>
    <a href="{% url 'logout' %}">
        <button class="btn btn-outline-dark" type="submit">Logout</button>
    </a>
</div>
{% else %}
<div style="text-align:center;">
    <a href="{% url 'khubkhaoapp:home' %}" style="color:#4c352d; text-decoration-line: underline;">
        <h4>Sign in</h4>
    </a>
</div>
{% endif %}

{% endblock %}

{% block body %}
<div class="row" style="padding-left: 30px;">
    <div class="col-md-3">
        <div class="sidebar">
            <div class="row" style="height: 20px;"></div>
            <div class="barcontent">
                <form action="{% url 'khubkhaoapp:result' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <label style="font-size: 20px;">Let's start your meal with select some food ethnic!</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-check">
                                {% for ethnic in ethnic_list %}
                                <input type="checkbox" class="form-check-input" value={{ethnic.pk}} name="ethnic_name"
                                    id="ethnic{{ forloop.counter }}">
                                <label class="form-check-label" for="ethnic{{ forloop.counter }}">{{ ethnic }}</label>
                                <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <label style="font-size: 17px;">Need more specific...?</label>
                        <label style="font-size: 17px;">Choose some choice(s) below.</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-check">
                                {% for category in category_list %}
                                <input type="checkbox" class="form-check-input" value={{category.pk}} name="category_name"
                                    id="category{{ forloop.counter }}">
                                <label class="form-check-label" for="category{{ forloop.counter }}">{{ category }}</label>
                                <br>
                                {% endfor %}
                            </div>
                            <input class="btn btn-warning btn-lg btn-block" type="submit" value="Submit" />
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="content" style="text-align: center;">
            <div class="row"></div>
            <br>
            <h1>~ Generated Result! ~</h1>
            <br>
            <form action="{% url 'khubkhaoapp:vote' %}" method="POST">
                {% csrf_token %}
                {% for food in food_list %}
                <div class="row" style="padding: 20px;">
                    <div class="col-4" style="text-align: right;">
                        {% if user.is_authenticated and not user.is_anonymous %}
                        <img src="{{ food.get_image_location }}" width="300px" height="200px" class="border border-warning rounded">
                        {% else %}
                        <img src="{{ food.get_image_location }}" width="233px" height="175px" class="border border-warning rounded">
                        {% endif %}
                    </div>
                    <div class="col-8" style="text-align: left;">
                        <h3><b id="Food_name">{{ food }}</b></h3>
                        <ul>
                            <li>
                                <h5><b id="Price">Average Price:</b> ${{ food.get_average_price }}</h5>
                            </li>
                            <li>
                                <h5><b id="Type">Type:</b> {{ food.get_ethnic_food_name }} </h5>
                            </li>
                            <li>
                                <h5><b id="Categories">Categories:</b> {% for cate in food.get_category.all %} <span class="badge badge-dark">#{{ cate }}</span> {% endfor %}</h5>
                            </li>
                            <li>
                                <h5><b id="Rate">Rate point:</b> {{ food.get_original_rate }} / 100</h5>
                            </li>
                            {% if user.is_authenticated and not user.is_anonymous %}
                                {% if food.get_check_vote %}
                                <li>
                                    <h5><b>Vote:</b>
                                        <span class="badge badge-pill badge-dark">Min</span>--
                                        <button class="btn btn-warning" name="rate_star" value={{food.pk}},ONE id="vote1" type="submit">1</button>
                                        <button class="btn btn-warning" name="rate_star" value={{food.pk}},TWO id="vote2" type="submit">2</button>
                                        <button class="btn btn-warning" name="rate_star" value={{food.pk}},THREE id="vote3" type="submit">3</button>
                                        <button class="btn btn-warning" name="rate_star" value={{food.pk}},FOUR id="vote4" type="submit">4</button>
                                        <button class="btn btn-warning" name="rate_star" value={{food.pk}},FIVE id="vote5" type="submit">5</button>
                                        --<span class="badge badge-pill badge-dark">Max</span>
                                    </h5>
                                </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <br>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}